<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Vet Clinic Adorable Pet</title>
    <link rel="stylesheet" href="/static/css/reset-css.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>

<header>
    <div class="header">
        <div>
            <th:block class="logo">
                <img src="/img/barbalyacho_logo.jpg" alt="Draw by Plam DrawArt">
            </th:block>

            <th:block>
                <button><a href="pets/add">ADD PET</a></button>
                <button><a href="/home">HOME</a></button>
            </th:block>

        </div>

        <h1>Vet Clinic ADORABLE PET</h1>
        <div>
            <th:block th:if="${session.isEmpty()}">
                <button><a href="users/register">REGISTER</a></button>
                <button><a href="users/login">LOGIN</a></button>
            </th:block>
            <th:block th:unless="${session.isEmpty()}">
                <button><a href="users/logout">LOGOUT</a></button>
            </th:block>

        </div>

    </div>


    <div class="nav-bar">
        <a href="/">ABOUT US</a>
        <a href="/pages/departments">DEPARTMENTS</a>
        <a href="/pages/our-team">OUR TEAM</a>
        <a href="/pages/information">USEFUL INFORMATION</a>
        <a href="/pages/clinic-services">CLINIC SERVICES</a>
        <a href="/pages/good-heart">GOOD HEART</a>
        <a href="/pages/projects">PROJECTS</a>
    </div>
</header>

<footer class="footer bg-transparent  py-2">
    <div class="container-fluid text-center">

        <img src="/img/contact.jpg">
        <p>Contact us: (phone) (email)<br>Location: (address)</p>
        <div>
            &copy; Vet Clinic Adorable Pet 2023. All rights reserved.
        </div>
    </div>
</footer>


</body>
</html>