<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Vet Clinic Adorable Pet</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <script src="../../static/js/active-button.js"></script>

</head>
<body>

<header>

    <div class="header">

        <div class="text-style">
            <th:block class="logo">
                <img src="/images/barbalyacho_logo.jpg" alt="Draw by Plam DrawArt">
            </th:block>

            <th:block>
                <button sec:authorize="isAuthenticated()"><a th:text="#{navbar_add_pet}"
                                                             th:href="@{/pets/add}">ADD PET</a></button>
                <button sec:authorize="hasRole('USER')"><a th:text="#{navbar_my_pets}"
                                                             th:href="@{/pages/my-pets}">MY PETS</a></button>
                <button sec:authorize="hasRole('MODERATOR')"><a th:text="#{navbar_moderators}"
                                                                th:href="@{/pages/moderators}">MODERATORS</a></button>
                <button sec:authorize="hasRole('ADMIN')"><a th:text="#{navbar_admins}"
                                                            th:href="@{/pages/admins}">ADMINS</a></button>
            </th:block>
        </div>

        <h1>Vet Clinic ADORABLE PET</h1>




        <div class="text-style">
            <th:block>
                <form th:method="get">
                    <label class="text-white" th:text="#{navbar_language}" for="lang"></label>
                    <select
                            onchange="this.form.submit()"
                            id="lang"
                            name="lang">
                        <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                        <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                    </select>
                </form>
            </th:block>

            <th:block sec:authorize="!isAuthenticated()">
                <button><a th:text="#{navbar_register}" th:href="@{/users/register}">REGISTER</a></button>
                <button><a th:text="#{navbar_login}" th:href="@{/users/login}" >LOGIN</a></button>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <form th:method="post" th:action="@{/users/logout}">
                    <button><a th:text="#{navbar_logout}">LOGOUT</a></button>
                </form>
            </th:block>

        </div>


    </div>


    <div class="nav-bar">

        <a th:href="@{/}" class="nav-item" th:text="#{navbar_about_us}">ABOUT US</a>
        <a th:href="@{/pages/departments}" class="nav-item" th:text="#{navbar_departments}">DEPARTMENTS</a>
        <a th:href="@{/pages/our-team}" class="nav-item" th:text="#{navbar_our_team}">OUR TEAM</a>
        <a th:href="@{/pages/information}" class="nav-item" th:text="#{navbar_information}">USEFUL INFORMATION</a>
        <a th:href="@{/pages/clinic-services}" class="nav-item" th:text="#{navbar_services}">CLINIC SERVICES</a>
        <a th:href="@{/pages/good-heart}" class="nav-item" th:text="#{navbar_good_heart}">GOOD HEART</a>
        <a th:href="@{/pages/projects}" class="nav-item" th:text="#{navbar_projects}">PROJECTS</a>
    </div>
    <script th:src="@{/js/active-button.js}"></script>


</header>

<footer class="footer bg-transparent  py-2">
    <div class="container-fluid text-center">

        <img src="/images/contact.jpg">
        <p>Contact us: phone: +359 42 3I5 5Y3, email: adorable_pet@abv.bg
            <br>Location: City of Stara Zagora, bul. Bulgaria № 012P</p>
        <div>
            &copy; Vet Clinic Adorable Pet 2023. All rights reserved.
        </div>
    </div>
</footer>


</body>
</html>