<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Vet Clinic Adorable Pet</title>
    <link rel="shortcut icon" type="img/png" href="/img/favicon.png">
    <link rel="stylesheet" href="/static/css/reset-css.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>

<header>
    <div class="header">
        <div>
            <th:block class="logo">
                <img src="/img/barbalyacho_logo.jpg" alt="Draw by Plam DrawArt">
            </th:block>

            <th:block>
                <button><a href="pets/add">ADD PET</a></button>
                <button><a href="/home">Pet Schedule</a></button>
                <button><a href="/home">Vet Schedule</a></button>
            </th:block>

        </div>

        <h1>Vet Clinic ADORABLE PET</h1>
        <div>
            <th:block th:if="${session.isEmpty()}">
                <button><a href="users/register">REGISTER</a></button>
                <button><a href="users/login">LOGIN</a></button>
            </th:block>
            <th:block th:unless="${session.isEmpty()}">
                <button><a href="users/logout">LOGOUT</a></button>
            </th:block>

        </div>

    </div>


    <div class="nav-bar">
        <a th:href="@{/}">ABOUT US</a>
        <a th:href="@{/pages/departments}">DEPARTMENTS</a>
        <a th:href="@{/pages/our-team}">OUR TEAM</a>
        <a th:href="@{/pages/information}">USEFUL INFORMATION</a>
        <a th:href="@{/pages/clinic-services}">CLINIC SERVICES</a>
        <a th:href="@{/pages/good-heart}">GOOD HEART</a>
        <a th:href="@{/pages/projects}">PROJECTS</a>
    </div>
</header>

<footer class="footer bg-transparent  py-2">
    <div class="container-fluid text-center">

        <img src="/img/contact.jpg">
        <p>Contact us: phone: +359 42 3I5 5Y3, email: adorable_pet@gmail.com
            <br>Location: City of Stara Zagora, bul. Bulgaria № 012P</p>
        <div>
            &copy; Vet Clinic Adorable Pet 2023. All rights reserved.
        </div>
    </div>
</footer>


</body>
</html>