<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Vet Clinic Adorable Pet</title>
    <link rel="shortcut icon" type="img/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/departments.css">
</head>

<body>
<header th:replace="fragments/commons::header"></header>


<div class="main">
    <div class="card-container">

        <div class="card">
            <img src="/images/departments/laboratory.jpg" alt="Department Laboratory">
            <h2>Laboratory:</h2>
            <p>Our state-of-the-art laboratory provides quick and accurate results for various diagnostic tests
                including blood work, urine analysis, and parasite testing.</p>
            <a th:href="@{/pages/departments-more-info}" class="button">Learn More About All</a>
        </div>

        <div class="card">
            <img src="/images/departments/imaging-diagnostics.png" alt="Department Imaging Diagnostics">
            <h2>Imaging Diagnostics:</h2>
            <p>Our imaging department offers advanced diagnostic tools such as x-rays, ultrasound, and CT scans to diagnose and monitor internal diseases and conditions.</p>
            <a th:href="@{/pages/departments-more-info}" class="button">Learn More About All</a>
        </div>

        <div class="card">
            <img src="/images/departments/internal_diseases.jpg" alt="Department Internal Diseases">
            <h2>Internal Diseases:</h2>
            <p>Our team of specialists is equipped to diagnose and treat a wide range of internal diseases including endocrine disorders, gastroenteritis, and respiratory issues.</p>
            <a th:href="@{/pages/departments-more-info}" class="button">Learn More About All</a>
        </div>

        <div class="card">
            <img src="/images/departments/gynecology-icon.png" alt="Department Obstetrics and Gynecology">
            <h2>Obstetrics and Gynecology:</h2>
            <p>Our experienced veterinarians provide comprehensive reproductive care for both female and male pets, including routine check-ups, vaccinations, and spaying/neutering.</p>
            <a th:href="@{/pages/departments-more-info}" class="button">Learn More About All</a>
        </div>

        <div class="card">
            <img src="/images/departments/dental-care.png" alt="Department Dental Medicine">
            <h2>Dental Medicine : </h2>
            <p>Regular dental check-ups and cleanings are essential for your pet's overall health. Our team of dental specialists offers a full range of dental services including teeth cleanings, extractions, and oral surgery.</p>
            <a th:href="@{/pages/departments-more-info}" class="button">Learn More About All</a>
        </div>

        <div class="card">
            <img src="/images/departments/skin-care1.jpg" alt="Department Skin Diseases">
            <h2>Skin Diseases: </h2>
            <p>Our veterinarians are experts in diagnosing and treating skin diseases and conditions, including allergies, infections, and dermatitis.</p><br>
            <a th:href="@{/pages/departments-more-info}" class="button">Learn More About All</a>
        </div>

        <div class="card">
            <img src="/images/departments/surgery.png" alt="Department Surgery:">
            <h2>Surgery:</h2>
            <p>Our surgery department is staffed by highly skilled and experienced veterinarians who are dedicated to providing the best possible care for your pet. </p>
            <a th:href="@{/pages/departments-more-info}" class="button">Learn More About All</a>
        </div>

    </div>
</div>


<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
