<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Vet Clinic Adorable Pet</title>
    <link rel="shortcut icon" type="img/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/departments-more-info.css">
    <script th:src="@{/js/active-button.js}"></script>
    <style>
        body {
            background-image: url("/images/background-img-form.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
<header th:replace="fragments/commons::header"></header>
<main>
    <div class="container bg-blur rounded mt-5 mb-4">

        <h1>My Pets</h1>

        <h2 class="mySticky bg-gray text-dark  mb-0 mt-0"></h2>


        <div class="row mt-3 mb-3">
            <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">TREATMENTS</h3>


                    <div th:each="t : ${treatments}" th:object="${t}"
                         class="mt-3 rounded badge-info">
                        <span th:text="|Pet: *{typeOfAnimalEnumName} Name: *{name}|"></span>
                        <br>
                        <span th:text="|Date: *{dateOfVisit} Hour: *{hourOfVisit}:00|"></span>
                        <a class="ml-3 text-danger" th:href="@{/pets/remove/{id}(id=*{id})}">Cancel</a>
                    </div>



            </div>

            <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">PREVENTION</h3>
                <div th:each="prevention : ${preventions}" th:object="${prevention}"
                     class="mt-3 rounded badge-warning">
                    <span th:text="|Pet: *{typeOfAnimalEnumName} Name: *{name}|"></span>
                    <br>
                    <span th:text="|Date: *{dateOfVisit} Hour: *{hourOfVisit}:00|"></span>
                    <a class="ml-3 text-danger" th:href="@{/pets/remove/{id}(id=*{id})}">Cancel</a>
                </div>
            </div>

        </div>
        <div class="row mt-3 mb-3">
            <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">GROOMING</h3>
                <div th:each="g : ${grooms}" th:object="${g}"
                     class="mt-3 rounded badge-success">
                    <span th:text="|Pet: *{typeOfAnimalEnumName} Name: *{name}|"></span>
                    <br>
                    <span th:text="|Date: *{dateOfVisit} Hour: *{hourOfVisit}:00|"></span>
                    <a class="ml-3 text-danger" th:href="@{/pets/remove/{id}(id=*{id})}">Cancel</a>
                </div>
            </div>

            <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">HOTEL</h3>
                <div th:each="h : ${hotels}" th:object="${h}"
                     class="mt-3 rounded badge-secondary">
                    <span th:text="|Pet: *{typeOfAnimalEnumName} Name: *{name}|"></span>
                    <br>
                    <span th:text="|Date: *{dateOfVisit} Hour: *{hourOfVisit}:00|"></span>
                    <a class="ml-3 text-danger" th:href="@{/pets/remove/{id}(id=*{id})}">Cancel</a>
                </div>
            </div>

            <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">SCHOOL</h3>
                <div th:each="s : ${schools}" th:object="${s}"
                     class="mt-3 rounded badge-school">
                    <span th:text="|Pet: *{typeOfAnimalEnumName} Name: *{name}|"></span>
                    <br>
                    <span th:text="|Date: *{dateOfVisit} Hour: *{hourOfVisit}:00|"></span>
                    <a class="ml-3 text-danger" th:href="@{/pets/remove/{id}(id=*{id})}">Cancel</a>
                </div>
            </div>


        </div>
        <a href="/pages/my-pets" class="btn btn-danger" th:text="|My upcoming clinic visits: *{numVisitByUser} |"
        ></a>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
