<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Vet Clinic Adorable Pet</title>
  <link rel="shortcut icon" type="img/png" href="/images/favicon.png">
  <link rel="stylesheet" href="/css/our-team.css">
</head>

<body>

<header th:replace="fragments/commons::header"></header>


<div class="main">

  <div class="card-container">

    <div class="card resize">
      <img src="/images/our-team/school1.jpg" alt="Vet in School">
      <h2>Dr. Plamen Peev</h2>
      <p>Responsible for the program related to schools and meetings with students.</p>
    </div>


    <div class="card">
      <img src="/images/our-team/exotic_animals-team.jpg" alt="Team exotic animal specialists">
      <h2>Dr. Presilla Gard & Dr. Ivan Karabazhakov</h2>
      <p>They have extensive experience in the treatment of exotic animals, including reptiles,
        birds and small mammals. They are dedicated to providing the highest quality of care for
        each patient and staying ahead of the times with the latest advances in exotic pet medicine.</p>
    </div>


    <div class="card">
      <img src="/images/our-team/vet4.jpg" alt="Internist">
      <h2>Dr. Lizz Houston</h2>
      <p>Dr. Lizz Houston has a particular interest in managing chronic diseases such as diabetes,
        kidney disease, and heart disease. She has a special interest in endocrine disorders, such
        as thyroid disease and adrenal dysfunction, and is skilled in the management of complex
        medical cases.</p>
    </div>



    <div class="card">
      <img src="/images/our-team/internist.jpg" alt="Internist">
      <h2>Dr. Rahul Shachry</h2>
      <p>Dr. Shachry is an expert in diagnosing and treating internal diseases in cats and dogs and is
        dedicated to providing personalized care to every patient.</p>
    </div>

    <div class="card">
      <img src="/images/our-team/groomer1.jpg" alt="Groomer">
      <h2>Momchil Kapitanov</h2>
      <p>Momchil is skilled in pet grooming, ensuring that pets are clean, comfortable, and healthy.</p>
    </div>

    <div class="card">
      <img src="/images/our-team/groomer2.jpg" alt="Groomer">
      <h2>Yana Hadzhivelieva</h2>
      <p>Yana is skilled groomer who provide top-notch grooming services to keep pets looking and
        feeling their best.</p>
    </div>

    <div class="card">
      <img src="/images/our-team/vet-cows.jpg" alt="Cow specialist">
      <h2>Dr. Rebeka Springfilds</h2>
      <p>Dr. Springfilds specialize in treating and caring for large farm animals, such as cows,
        horses, and pigs. She is committed to providing personalized care and promoting animal
        health and welfare through preventative medicine and education.</p>
    </div>

    <div class="card">
      <img src="/images/our-team/horse_specialist.jpg" alt="Horse specialist">
      <h2>Dr. Penelopy Stark</h2>
      <p>Dr. Stark is passionate about farm animal medicine and provides comprehensive veterinary care to
        livestock and other large animals.</p>
    </div>

    <div class="card">
      <img src="/images/our-team/imagining-diagnostic-team.jpg" alt="Scanner team">
      <h2>Dr. Vladislava Nightingale & Dr. Kubrat Kamenov</h2>
      <p>These two veterinarians specialize in using medical imaging techniques, such as X-rays and ultrasounds,
        to diagnose and treat medical conditions in animals.</p>
    </div>


    <div class="card">
      <img src="/images/our-team/lab-team.jpg" alt="Lab">
      <h2>Penny Stefanov & Ivaylo Pаrlinov</h2>
      <p>Our lab assistants are an invaluable members of the team who ensures that all lab work is processed
        efficiently and accurately.</p>
    </div>



    <div class="card">
      <img src="/images/our-team/vet10.jpg" alt="Internist">
      <h2>Dr. Onur Delioglu</h2>
      <p>Dr. Delioglu is highly skilled in diagnosing and treating
        complex medical conditions using state-of-the-art technology and evidence-based medicine.</p>
    </div>

    <div class="card">
      <img src="/images/our-team/vet.jpg" alt="Surgery">
      <h2>Dr. Antony Gray</h2>
      <p>Dr. Gray is skilled in performing surgical procedures to address injuries, illnesses, and
        other medical conditions in animals.</p>
    </div>

    <div class="card">
      <img src="/images/our-team/scanner-vet.jpg" alt="Scanner">
      <h2>Dr. Eline Agriupolu</h2>
      <p>Dr. Agriupolu is imaging specialist who use state-of-the-art equipment to diagnose a range
        of medical conditions in pets.</p>
    </div>

    <div class="card">
      <img src="/images/our-team/skin_disease.jpg" alt="Skin diseases">
      <h2>Dr. Victoria Popovska</h2>
      <p>Dr. Popovska specializes in the diagnosis and treatment of a wide range of skin conditions,
        from dermatitis and allergies to infections and tumors, using advanced medical and surgical
        techniques.</p>
    </div>

    <div class="card">
      <img src="/images/our-team/trainer.jpg" alt="Trainer">
      <h2>Levon Stefanovski</h2>
      <p> Our trainer is skilled in training dogs and cats, helping pet owners
        to address behavioral issues and improve their pets' obedience.</p>
    </div>

    <div class="card">
      <img src="/images/our-team/vet2.jpg" alt="Surgery">
      <h2>Dr. Lidiya Arabasheva</h2>
      <p>Dr. Arabasheva is a skilled surgeon with a particular interest in soft tissue
        and orthopedic procedures.</p>
    </div>


    <div class="card">
      <img src="/images/our-team/vet5.jpg" alt="Dentist">
      <h2>Dr. Noah Shannon</h2>
      <p>This veterinarian is an experienced dentist who helps pets maintain healthy
        teeth and gums, and treats a range of dental problems. </p>
    </div>

    <div class="card">
      <img src="/images/our-team/vet9.jpg" alt="Obstetrics and Gynecology">
      <h2>Dr. Ekaterina Ruschenko</h2>
      <p>Dr. Ekaterina Ruschenko is an expert in animal reproductive health, providing services such
        as artificial insemination and fertility testing.</p>
    </div>


    <div class="card">
      <img src="/images/our-team/receptionist1.jpg" alt="Receptionist">
      <h2>Yuan Yeo</h2>
      <p>Yuan Yeo is responsible for managing the clinic's front desk, answering phones, scheduling appointments,
        and greeting patients and their owners.</p>
    </div>

    <div class="card resize">
      <img src="/images/our-team/receptionist6.png" alt="Receptionist">
      <h2>Michael Gordy</h2>
      <p>Michael is a friendly and welcoming receptionist. He has a strong knowledge of animal care and is
        always willing to help in any way he can.</p>
    </div>

    <div class="card">
      <img src="/images/our-team/receptionist3.jpg" alt="Receptionist">
      <h2>Mimi Kill</h2>
      <p>Mimi is friendly and knowledgeable professional goes above and beyond to ensure that each patient
        and their owner feel comfortable and cared for during their visit to the clinic. </p>
    </div>



  </div>
</div>



<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
