<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Vet Clinic Adorable Pet</title>
  <link rel="shortcut icon" type="img/png" href="/images/favicon.png">
  <link rel="stylesheet" href="/css/our-team.css">
</head>

<body>

<header th:replace="fragments/commons::header"></header>


<div class="main">

  <div class="card-container">

    <div class="card resize">
      <img src="/images/our-team/school1.jpg" alt="Vet in School">
      <h2>Dr. Plamen Peev</h2>
      <p>Responsible for the program related to schools and meetings with students.</p>
    </div>


    <div class="card">
      <img src="/images/our-team/exotic_animals-team.jpg" alt="Team exotic animal specialists">
      <h2>Dr. Presilla Gard & Dr. Ivan Karabazhakov</h2>
      <p>These two doctors specialize in treating and caring for non-traditional pets, such as
        reptiles, birds, and small mammals.</p>
    </div>


    <div class="card">
      <img src="/images/our-team/vet4.jpg" alt="Internist">
      <h2>Dr. Lizz Houston</h2>
      <p>Dr. Lizz Houston s expert in diagnosing and treating chronic diseases, such
        as diabetes and kidney disease, in animals.</p>
    </div>



    <div class="card">
      <img src="/images/our-team/internist.jpg" alt="Internist">
      <h2>Dr. Rahul Shachry</h2>
      <p>.............</p>
    </div>

    <div class="card">
      <img src="/images/our-team/groomer1.jpg" alt="Groomer">
      <h2>Momchil Kapitanov</h2>
      <p>He is skilled in pet grooming, ensuring that pets are clean, comfortable, and healthy.</p>
    </div>

    <div class="card">
      <img src="/images/our-team/groomer2.jpg" alt="Groomer">
      <h2>Yana Hadzhivelieva</h2>
      <p>........</p>
    </div>

    <div class="card">
      <img src="/images/our-team/vet-cows.jpg" alt="Cow specialist">
      <h2>Dr. Rebeka Springfilds</h2>
      <p>Dr. Springfilds specialize in treating and caring for large farm animals, such as cows,
        horses, and pigs.</p>
    </div>

    <div class="card">
      <img src="/images/our-team/horse_specialist.jpg" alt="Horse specialist">
      <h2>Dr. Penelopy Stark</h2>
      <p>.............</p>
    </div>

    <div class="card">
      <img src="/images/our-team/imagining-diagnostic-team.jpg" alt="Scanner team">
      <h2>Dr. Vladislava Nightingale & Dr. Kubrat Kamenov</h2>
      <p>These two veterinarians specialize in using medical imaging techniques, such as X-rays and ultrasounds,
        to diagnose and treat medical conditions in animals.</p>
    </div>


    <div class="card">
      <img src="/images/our-team/lab-team.jpg" alt="Lab">
      <h2>Penny Stefanov & Ivaylo Pаrlinov</h2>
      <p>These laboratory technicians assist with laboratory tests and analyses, helping to
        ensure accurate diagnoses and treatment plans.</p>
    </div>



    <div class="card">
      <img src="/images/our-team/vet10.jpg" alt="Internist">
      <h2>Dr. Valery Yujeene</h2>
      <p>..........</p>
    </div>

    <div class="card">
      <img src="/images/our-team/vet.jpg" alt="Surgery">
      <h2>Dr. Antony Gray</h2>
      <p>Dr. Gray is skilled in performing surgical procedures to address injuries, illnesses, and
        other medical conditions in animals.</p>
    </div>

    <div class="card">
      <img src="/images/our-team/scanner-vet.jpg" alt="Scanner">
      <h2>Dr. Eliny Agriupolu</h2>
      <p>...............</p>
    </div>

    <div class="card">
      <img src="/images/our-team/skin_disease.jpg" alt="Skin diseases">
      <h2>Dr. Victoria Popovska</h2>
      <p>..........</p>
    </div>

    <div class="card">
      <img src="/images/our-team/trainer.jpg" alt="Trainer">
      <h2>Levon Stefanovski</h2>
      <p> Our trainer is skilled in training dogs and cats, helping pet owners
        to address behavioral issues and improve their pets' obedience.</p>
    </div>

    <div class="card">
      <img src="/images/our-team/vet2.jpg" alt="Surgery">
      <h2>Dr. Lidiya Arabasheva</h2>
      <p>..................</p>
    </div>


    <div class="card">
      <img src="/images/our-team/vet5.jpg" alt="Dentist">
      <h2>Dr. Noah Shannon</h2>
      <p>This veterinarian specializes in dental care for animals, including cleanings, extractions,
        and other dental procedures.</p>
    </div>

    <div class="card">
      <img src="/images/our-team/vet9.jpg" alt="Obstetrics and Gynecology">
      <h2>Dr. Ekaterina Ruschenko</h2>
      <p>Dr. Ekaterina Ruschenko is an expert in animal reproductive health, providing services such
        as artificial insemination and fertility testing.</p>
    </div>


    <div class="card">
      <img src="/images/our-team/receptionist1.jpg" alt="Receptionist">
      <h2>Yuan Yeo</h2>
      <p>Yuan Yeo is responsible for managing the clinic's front desk, answering phones, scheduling appointments,
        and greeting patients and their owners.</p>
    </div>

    <div class="card resize">
      <img src="/images/our-team/receptionist6.png" alt="Receptionist">
      <h2>Michael Gordy</h2>
      <p>..........</p>
    </div>

    <div class="card">
      <img src="/images/our-team/receptionist3.jpg" alt="Receptionist">
      <h2>Mimi Kill</h2>
      <p>................</p>
    </div>



  </div>
</div>



<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
