<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Vet Clinic Adorable Pet</title>
    <link rel="shortcut icon" type="img/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/projects-style.css">

</head>


<body>

<header th:replace="fragments/commons::header"></header>


<div class="main">

    <div class="card-container">

        <section class="card">
          <div class="geeks">
          <img src="/images/projects/vet-in-school.jpg" alt="Vet in school">
          </div>
          <div class="geeks">
          <img src="/images/projects/vet-in-school2.jpg" alt="Our dog toy patient">
          </div>
          <div>
            <h2>CLOSE TO THE SCHOOL</h2>
            <p>Introducing children to the profession of veterinary doctor. We conduct open lessons after
            pre-registration and arrangement with the class head and permission received from the principal
            of the relevant school. The subject is dedicated to our pets, how to care for them, why they
            need to be feed with certain foods, how to respond in emergencies, simulation of a small
            surgery. The played situation is very fun for kids. See the gallery of photos and the happiness
            in their eyes.</p>
          </div>
          <div class="geeks">
          <img src="/images/projects/vet-in-school3.jpg" alt="Happy kids eyes">
          </div>
          <div class="geeks">
          <img src="/images/projects/vet-in-school4.jpg" alt="During the surgery">
          </div>
        </section>


        <section class="card card-h h-2">
            <div class="geeks img-h-2">
            <img src="/images/projects/pharmacy.jpg" alt="Pharmacy">
            </div>

            <div class="geeks">
              <h2>PHARMACY</h2>
              <p>We are planning to open a Pharmacy to close the loop regarding the treatment of your pets.
              In this way, we will help our customers in their search and ensure that the prescribed
              medication of the treatment will be available at any time and place.</p>
            </div>
        </section>


        <section class="card card-h">
            <div class="geeks img-h">
            <img src="/images/projects/in_memorial.jpg" alt="Good memories in our hearts">
            </div>

            <div class="geeks">
            <h2>IN MEMORY</h2>
            <p>For our beloved animals, members of our families, we develop a program after their earthly
            journey. The product we are developing will be related to favorite moments spent together,
            his favorite toys, family photos, etc. related to the fact that we will never forget them
            and they will live with us forever.</p>
            </div>
        </section>


        <section class="card">
            <div class="geeks img-h">
            <img src="/images/projects/future-clinic.jpg" alt="Our future clinic">
            </div>

            <div class="geeks">
            <h2>FUTURE CLINIC</h2>
            <p>Project and scheme of the future new large building for all.</p>
            </div>
        </section>


    </div>
</div>


<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
