<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Vet Clinic Adorable Pet</title>
  <link rel="shortcut icon" type="img/png" href="/images/favicon.png">
  <link rel="stylesheet" href="/css/index.css">
  <script th:src="@{/js/active-button.js}"></script>

</head>

<body>
<div class="wrapper">
  <header th:replace="fragments/commons::header"></header>

  <h2>Oops.. something went wrong!</h2>
</div>
</body>
</html>