<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Vet Clinic Adorable Pet</title>
    <link rel="shortcut icon" type="img/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/departments-more-info.css">
    <style>
        body{
            background-image: url("/images/background-img-form.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
<header th:replace="fragments/commons::header"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Pet</span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur rounded"
          th:object="${petAddDTO}"
          th:action="@{/pets/add}"
          th:method="post">

        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2 text-white">Name</label>
            </div>
            <input th:field="*{name}" th:errorclass="bg-danger"
                   type="text" class="form-control"
                   id="name"
                   name="name"/>
            <small th:each="e : ${#fields.errors('name')}" th:text="${e}"
                   class="text-danger"> Name error</small>
        </div>

        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="age" class="h4 mb-2 text-white">Age</label>
            </div>
            <input th:field="*{age}" th:errorclass="bg-danger"
                   type="number" class="form-control"
                   id="age"
                   name="age"/>
            <small th:each="e : ${#fields.errors('age')}" th:text="${e}"
                   class="text-danger"> Age error</small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="chippedEnumName" class="h4 mb-2">Chipped</label>
            </div>
            <select th:field="*{chippedEnumName}" th:errorclass="bg-danger"
                    class="browser-default custom-select"
                    id="chippedEnumName"
                    name="chippedEnumName">
                <option value="">Select option</option>
                <option th:each="o : ${T(com.example.adorablepet.models.enums.ChippedEnumName).values()}"
                        th:text="${o}" th:value="${o}">Option</option>
            </select>
            <small th:each="e : ${#fields.errors('chippedEnumName')}" th:text="${e}"
                   class="text-danger">Chipped error message</small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="typeOfAnimalEnumName" class="h4 mb-2">Type of Animal</label>
            </div>
            <select th:field="*{typeOfAnimalEnumName}" th:errorclass="bg-danger"
                    class="browser-default custom-select"
                    id="typeOfAnimalEnumName"
                    name="typeOfAnimalEnumName">
                <option value="">Select type of Animal</option>
                <option th:each="o : ${T(com.example.adorablepet.models.enums.TypeOfAnimalEnumName).values()}"
                        th:text="${o}" th:value="${o}">Option</option>
            </select>
            <small th:each="e : ${#fields.errors('typeOfAnimalEnumName')}" th:text="${e}"
                   class="text-danger">TypeOfAnimal error message</small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="typeOfHelp" class="h4 mb-2">Type of Help</label>
            </div>
            <select th:field="*{typeOfHelp}" th:errorclass="bg-danger"
                    type="text"
                    class="browser-default custom-select"
                    id="typeOfHelp"
                    name="typeOfHelp">
                <option value="">Select type of Service</option>
                <option th:each="o : ${T(com.example.adorablepet.models.enums.TypeOfHelpEnumName).values()}"
                        th:text="${o}" th:value="${o}">Option</option>
            </select>
            <small th:each="e : ${#fields.errors('typeOfHelp')}" th:text="${e}"
                   class="text-danger">TypeOfAnimal error message</small>
        </div>


        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="dateOfVisit" class="h4 mb-2">Date of Visit</label>
            </div>
            <input th:field="*{dateOfVisit}" th:errorclass="bg-danger"
                   type="date" class="form-control"
                   id="dateOfVisit"
                   name="dateOfVisit"/>
            <small th:each="e : ${#fields.errors('dateOfVisit')}" th:text="${e}"
                   class="text-danger">Visit date error</small>
        </div>

        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="hourOfVisit" class="h4 mb-2 text-white">Hour of Visit</label>
            </div>
            <input th:field="*{hourOfVisit}" th:errorclass="bg-danger"
                   type="number" class="form-control"
                   id="hourOfVisit"
                   name="hourOfVisit"/>
            <small th:each="e : ${#fields.errors('hourOfVisit')}" th:text="${e}"
                   class="text-danger"> Hour error</small>
        </div>



        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Add Pet</button>
        </div>
    </form>
</main>

<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
